<h3>{{titulo}}</h3>
 
<table>
    <thead>
    <tr>
        <th>Código</th>
        <th>CPF</th>
        <th>Nome do Vendedor</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Alterar</th>
        <th>Excluir</th>
    </tr>
    </thead>
 
    <tbody>
        <tr *ngFor="let vendedor of vendedores; let i = index;">
        <td>{{ vendedor.codigo_vendedor }}</td>        
        <td>{{ vendedor.cpf }}</td>
        <td>{{ vendedor.nomevendedor }}</td>
        <td>{{ vendedor.latitude }}</td>
        <td>{{ vendedor.longitude }}</td>        
        <td><a (click)="alterar(vendedor.codigo_vendedor);">Alterar</a></td>
        <td><a (click)="excluir(vendedor.codigo_vendedor, i);">Excluir</a></td>
        </tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ vendedores.length }}</td> 
        </tr>
    </tbody>
</table>