<div class="container">
    <div class="form-vendedor">
        <h1>Cadastro de Vendedor</h1>
        <form>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" required placeholder="000.000.000-00">
            </div>

            <div class="form-group">
                <label for="latitude">Nome Completo</label>
                <input type="text" class="form-control" id="nomecompleto" placeholder="Infome o seu Nome Completo">
            </div>

            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" id="latitude" placeholder="Informe a sua Latitude">
            </div>

            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control" id="longitude" placeholder="Informe a sua Longitude">
            </div>

            <div class="form-group">
                <label for="exampleInputFile">Importar arquivo .csv</label>
                <br>
                <input type="file" id="InputFile">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="delete" class="btn btn-delete">Deletar</button>
        </form>
    </div>
</div>