.form-vendedor{
    align-content: center;
    margin-top: 15px;
    padding: 15px;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    background-color: #EEE9E9;
}

.btn-success{
    background-color: #32CD32;
}

.btn-delete{
    float: right;
    background-color: #EE0000;
}